<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The new commrnt form</h1>
    <form action="/comments" method = "post">
        <section>
            <label for = "username"> Username </label>
            <input type="text" id = "username" name = "username" placeholder="username">
        </section>
        <br>
    <section>
        <label for = "description"> Comment text </label>
        <textarea id = "description" name = "description" cols="30" rows="5"> </textarea>
    </section>
    <button> Submit </button>
    </form>
</body>
</html>